.images-block {
    height: 600px;
}

.image-back {
    width: 100%;
    max-height:100%; 
    max-width:100%;
}

.item-container {
    margin-top: 45px;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.capture-block {
    color: #333;
    font-size: 34px;
    padding: 14px 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description-block {
    color: #555;
    font-size: 22px;
    padding: 14px 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.date-item {
    float: left;
    max-width: 50%;
    width: 50%;
    font-size: 20px;
}

input[type=date], select {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    margin: 10px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.reservation-block {
    margin-bottom: 70px;
    width: 400px;
    padding: 14px 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    font-size: 20px;
}

button:hover {
    opacity: 0.8;
}